body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	.flex;
	background-color: #1e1e1e;
	padding: 0;
	margin: 0;
}

.flex {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.dashboard {
	.flex;
	width: 100%;
	height: 100vh;

	.left {
		width: 50%;
		height: 100vh;
		.flex;
		justify-content: center;

		#video {
			width: 560px;
			height: 800px;
			
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.right {
		width: 50%;
		height: 100vh;
		.flex;
		justify-content: center;

		.upload {
			h1 {
				color: white;
				letter-spacing: 1px;
			}

			p {
				color: #7a7a7a;
			}

			input {
				margin-top: 30px;
			}

		}

		.controls {
			width: 100%;
			margin-top: 80px;

			h1 {
				color: white;
				letter-spacing: 1px;
			}

			p {
				color: #7a7a7a;
			}

			button {
				background-color: #27ae60;
				border:1px solid #27ae60;
				color: white;
				padding: 15px 25px;
				outline: 0;
				margin-top: 50px;
				border-radius: 8px;
				transition: 0.2s;
				cursor: pointer;

				&:hover {
					background-color: #16a085;
					border-color: #16a085;
				}
			}
		}

		i {
			margin-top: 40px;
			font-size: 50px;
			color: #7a7a7a;
			-webkit-animation:spin 3s linear infinite;
			-moz-animation:spin 3s linear infinite;
			animation:spin 3s linear infinite;
			display: none;
		}

		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
		@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }	

		.finished {
			width: 100%;
			height: 200px;
			margin-top: 80px;
			display: none;

			p {
				color: #7a7a7a;
			}

			h1 {
				color: white;
			}

			a {
				background-color: #16a085;
				border:1px solid #16a085;
				color: white;
				padding: 15px 25px;
				outline: 0;
				margin-top: 30px;
				border-radius: 8px;
				transition: 0.2s;
				text-decoration: none;
				display: inline-block;
				cursor: pointer;
				font-size: 13px;

				&:hover {
					background-color: #27ae60;
					border-color: #27ae60;
				}
			}
		}
	}
}

