body {
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.dashboard .left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.dashboard .left #video {
  width: 560px;
  height: 800px;
}
.dashboard .left #video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.dashboard .right .upload h1 {
  color: white;
  letter-spacing: 1px;
}
.dashboard .right .upload p {
  color: #7a7a7a;
}
.dashboard .right .upload input {
  margin-top: 30px;
}
.dashboard .right .controls {
  width: 100%;
  margin-top: 80px;
}
.dashboard .right .controls h1 {
  color: white;
  letter-spacing: 1px;
}
.dashboard .right .controls p {
  color: #7a7a7a;
}
.dashboard .right .controls button {
  background-color: #27ae60;
  border: 1px solid #27ae60;
  color: white;
  padding: 15px 25px;
  outline: 0;
  margin-top: 50px;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}
.dashboard .right .controls button:hover {
  background-color: #16a085;
  border-color: #16a085;
}
.dashboard .right i {
  margin-top: 40px;
  font-size: 50px;
  color: #7a7a7a;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  display: none;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.dashboard .right .finished {
  width: 100%;
  height: 200px;
  margin-top: 80px;
  display: none;
}
.dashboard .right .finished p {
  color: #7a7a7a;
}
.dashboard .right .finished h1 {
  color: white;
}
.dashboard .right .finished a {
  background-color: #16a085;
  border: 1px solid #16a085;
  color: white;
  padding: 15px 25px;
  outline: 0;
  margin-top: 30px;
  border-radius: 8px;
  transition: 0.2s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
}
.dashboard .right .finished a:hover {
  background-color: #27ae60;
  border-color: #27ae60;
}
