<body style='display:flex; flex-wrap:wrap; justify-content:center;'>
<div class='container' style='display:flex; flex-wrap:wrap; justify-content:space-between; width:1765px;'>
<div class='rectangle' style='width:1765; height:715; border:5px solid black; margin-bottom:30px;'> </div>
<div class='rectangle' style='width:1021; height:715; border:5px solid black; margin-bottom:30px;'> </div>
<div class='rectangle' style='width:657; height:715; border:5px solid black; margin-bottom:30px;'> </div>
<div class='square' style='width:554; height:554; border:5px solid black; margin-bottom:30px;'> </div>
<div class='square' style='width:554; height:554; border:5px solid black; margin-bottom:30px;'> </div>
<div class='square' style='width:554; height:554; border:5px solid black; margin-bottom:30px;'> </div>
<div class='rectangle' style='width:1765; height:627; border:5px solid black; margin-bottom:30px;'> </div>
</div></body>